<div class="forgetPass-box">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ng-click="ctrl.goHome()">
          <i class="iconfont icon-icon-test10"></i>
        </a>
      </div>
      <h3 class="page-title">找回密码</h3>
    </div>
  </nav>
  <div class="container-login">
    <div class="mainContent">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="login-steps clearfix">
            <div class="login-step login-step-active">
              <div class="step-item">
                <div class="step-head-num">1</div>
                <div class="step-text">输入账号和邮箱</div>
              </div>
              <div class="stet-line"></div>
            </div>
            <div class="login-step">
              <div class="step-item clearfix">
                <div class="step-head-num">2</div>
                <div class="step-text">设置新密码</div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="success">
            <div class="form-group">
              <div class="col-md-offset-5 col-md-2 text-center">
               密码设置成功
              </div>
              <div class="col-md-offset-5 col-md-2">
                <button type="submit" class="btn btn-primary btn-block" ng-click="ctrl.setSuccess()">立即登录</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="copyright-footer">BSS_v1.0.0 Copyright by Eparty @2016</div>
    </div>
  </div>
</div>