<div class="table-overflow">
  <table class="table table-striped table-hover text-center table-responsive table-common-theme">
    <thead>
      <tr>
        <!--<th>客户ID</th>-->
        <th>客户名称</th>
        <th>城市</th>
        <th>业务类型</th>
        <th>客户类型</th>
        <th>跟进人</th>
        <th>所属企业</th>
        <th>所属品牌</th>
        <th>详细地址</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat=" item in ctrl.verifyList" ng-if="ctrl.verifyList && ctrl.verifyList.length> 0">
        <!--<td>{{item.storeId || '暂无'}}</td>-->
        <td class="text-overflow"><span title="{{item.name|| '暂无'}}">{{item.name || '暂无'}}</span></td>
        <td class="text-overflow">{{item.cityName || '暂无'}}</td>
        <td class="text-overflow">{{item.businessName || '暂无'}}</td>
        <td class="text-overflow">{{item.customerTypeName || '暂无'}}</td>
        <td class="text-overflow">{{item.serviceUserName || '暂无'}}</td>
        <td class="text-overflow"><span title="{{item.companyName|| '暂无'}}">{{item.companyName || '暂无'}}</span></td>
        <td class="text-overflow"><span title="{{item.brandName|| '暂无'}}">{{item.brandName || '暂无'}}</span></td>
        <td class="text-overflow"><span title="{{item.address|| '暂无'}}">{{item.address || '暂无'}}</span></td>
        <td>
          <!--<button type="button" class="btn btn-link" ui-sref="store.verifyDetails({id:item.id})">审核</button>-->
          <a ui-sref="store.verifyDetails({id:item.id})" ng-if="btnlist.CRM_0302">查看</a>
        </td>
      </tr>
      <tr ng-if="!ctrl.verifyList || ctrl.verifyList.length==0" class="empty-tr">
        <td ng-if="ctrl.serviceStatus==='SUBMIT'" colspan='9' class="empty-box">没有任何需要审核的内容</td>
        <td ng-if="ctrl.serviceStatus==='REJECT' || ctrl.serviceStatus==='ONLINE'" colspan='8' class="empty-box">没有任何需要审核的内容</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="clearfix">
  <ul uib-pagination total-items="ctrl.total" ng-if="ctrl.total>ctrl.getParame.pageSize" items-per-page="ctrl.getParame.pageSize" previous-text="<" next-text=">" max-size="5" boundary-link-numbers="true" ng-model="ctrl.getParame.pageNo" ng-change="ctrl.pageChanged()"
    class="pull-right"></ul>
  <b class="pagination-text pull-right" ng-if="ctrl.total>ctrl.getParame.pageSize">共{{ctrl.total}}条</b>
</div>