<div class="page-order-detail">
  <div class="clearfix">
    <ul class="breadcrumb">
      <li class="active">工单中心</li>
      <li class="active"><a ui-sref="order.pool">工单池</a></li>
      <li class="active">工单详情</li>
    </ul>
  </div>
  <div class="mainContent">
    <div class="content-box">
      <form class="form-horizontal clearfix" name="roleform" role="form">
        <div class="form-group">
          <label class="col-md-3 col-sm-3 col-xs-3 control-label">客户名称：</label>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <span uib-tooltip="{{ctrl.poolDetail.storeName}}"
            tooltip-placement="top"
            tooltip-class="gray"
            tooltip-enable="true">
              <input class="form-control" ng-disabled="true" type="text" name="" value="" ng-model="ctrl.poolDetail.storeName">
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 col-sm-3 col-xs-3 control-label">派单人：</label>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <span uib-tooltip="{{ctrl.poolDetail.createUser}}"
            tooltip-placement="top"
            tooltip-class="gray"
            tooltip-enable="true">
              <input class="form-control" type="text" name="" value="" ng-disabled="true" ng-model="ctrl.poolDetail.createUser">
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 col-sm-3 col-xs-3 control-label">派单时间：</label>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <span uib-tooltip="{{ctrl.poolDetail.createTime | date:'yyyy-MM-dd HH:mm:ss'}}"
            tooltip-placement="top"
            tooltip-class="gray"
            tooltip-enable="true">
              <input type="text" ng-disabled="true" class="form-control" ng-value="ctrl.poolDetail.createTime | date:'yyyy-MM-dd HH:mm:ss'" pattern="yyyy/MM/dd HH/mm/ss">
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 col-sm-3 col-xs-3 control-label">业务类型：</label>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <span uib-tooltip="{{ctrl.poolDetail.businessType}}"
            tooltip-placement="top"
            tooltip-class="gray"
            tooltip-enable="true">
              <input type="text" ng-disabled="true" class="form-control" ng-model="ctrl.poolDetail.businessType">
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 col-sm-3 col-xs-3 control-label">任务类型：</label>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <span uib-tooltip="{{ctrl.poolDetail.taskTypeName}}"
            tooltip-placement="top"
            tooltip-class="gray"
            tooltip-enable="true">
              <input type="text" ng-disabled="true" class="form-control" ng-model="ctrl.poolDetail.taskTypeName">
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 col-sm-3 col-xs-3 control-label">期望完成日期：</label>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <span uib-tooltip="{{ctrl.poolDetail.expectDate | date:'yyyy-MM-dd'}}"
            tooltip-placement="top"
            tooltip-class="gray"
            tooltip-enable="true">
              <input type="text" ng-disabled="true" class="form-control" ng-value="ctrl.poolDetail.expectDate | date:'yyyy-MM-dd'">
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 col-sm-3 col-xs-3 control-label">派单说明：</label>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <span uib-tooltip="{{ctrl.poolDetail.orderDesc}}"
            tooltip-placement="top"
            tooltip-class="gray"
            tooltip-enable="true">
              <input type="text" ng-disabled="true" class="form-control" ng-model="ctrl.poolDetail.orderDesc">
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 col-sm-3 col-xs-3 control-label">联系人：</label>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <span uib-tooltip="{{ctrl.poolDetail.contactName}}"
            tooltip-placement="top"
            tooltip-class="gray"
            tooltip-enable="true">
              <input type="text" ng-disabled="true" class="form-control" ng-model="ctrl.poolDetail.contactName">
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 col-sm-3 col-xs-3 control-label">手机：</label>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <span uib-tooltip="{{ctrl.poolDetail.contactPhone}}"
            tooltip-placement="top"
            tooltip-class="gray"
            tooltip-enable="true">
              <input type="text" ng-disabled="true" class="form-control" ng-model="ctrl.poolDetail.contactPhone">
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 col-sm-3 col-xs-3 control-label">客户地址：</label>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <span uib-tooltip="{{ctrl.poolDetail.storeAddress}}"
            tooltip-placement="top"
            tooltip-class="gray"
            tooltip-enable="true">
              <input type="text" ng-disabled="true" class="form-control" ng-model="ctrl.poolDetail.storeAddress">
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 col-sm-3 col-xs-3 control-label">其他：</label>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <div class="look_link">
              <a ng-if="ctrl.poolDetail.url !== null" target="_black" class="text-success" ng-click="ctrl.openLightboxModal(ctrl.imgUrl, 0)">查看</a>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-4 col-sm-offset-4  col-xs-offset-4  col-md-9 col-sm-9 col-xs-9">
            <button type="button" ng-if="btnlist.ORDER_0202" class="btn btn-primary" ng-click="ctrl.getWorkOrder()">领取工单</button>
          </div>
        </div>
        <div class="clearfix">
          <div class="log-wrapper  pull-right col-md-9 col-sm-9 col-xs-9">
            <ul >
              <li ng-repeat="item in ctrl.orderLog" ng-class="{'first':$first}" ng-if="(item.status!=='WAIT')&&(item.status!=='GET')">
                <div ng-class="{'text-success':item.status=='ONLINE','text-danger':item.status=='REJECT'}">
                  <p>{{item.createUser+' 在'+(item.createTime | date:'yyyy-MM-dd HH:mm:ss')+(' '+ctrl.orderType[item.type])+'了工单;'}}</p>
                  <p ng-if="item.type === 'FLOW'">{{item.description}}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>