<div class="page-store">
  <div class="clearfix">
    <ul class="breadcrumb pull-left">
      <li>客户管理</li>
      <li>联系人管理</li>
    </ul>
    <!-- <div class="pull-right">
      <a ui-sref="store.compList" class="switch-link"><i class="iconfont icon-nb-w10"></i>企业模式</a>
    </div> -->
  </div>
  <div class="mainContent">
    <div class="table-head form-inline">
      <form>
        
        <div class="form-group">
          <input type="text" class="form-control" placeholder="联系人姓名" ng-model="ctrl.getParame.name"  ng-keyup="ctrl.enterKeyup($event)">
        </div>
        <div class="form-group">
          <select class="form-control select140"  ng-options="change.code as change.name for change in ctrl.changeAgeLists" ng-model="ctrl.getParame.ageGroup">
              <option value="">请选择年龄段</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control " ng-options="change.code as change.name for change in ctrl.isKp" ng-model="ctrl.getParame.isKp">
            <option value="">是否KP</option>
            </select>        
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="手机号码" ng-model="ctrl.getParame.mobile"  ng-keyup="ctrl.enterKeyup($event)">
        </div>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="门店名称" ng-model="ctrl.getParame.storeName"  ng-keyup="ctrl.enterKeyup($event)">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-white" ng-click="ctrl.searchBt()">搜索</button>
        </div>
      </form>
    </div>
    <div class="content-box">
      <div class="table-overflow">
        <table class="table table-hover table-theadbg table-customer table-striped table-responsive text-center">
          <thead>
            <tr>
              <th>
                <div>联系人姓名</div>
              </th>
              <th>
                <div>门店名称</div>
              </th>
              <th >
                <div>性别</div>
              </th>
              <th >
                <div>年龄段</div>
              </th>
              <th>
                <div>手机</div>
              </th>
              <th >
                <div>职位</div>
              </th>
              <th>
                <div>生日</div>
              </th>
              <th>
                <div>是否KP</div>
              </th>
              <th>
                <div>微信</div>
              </th>
              <th>
                <div>邮箱</div>
              </th>
            </tr>
          </thead>
          <tbody ng-if="ctrl.list.length == 0">
            <tr class="empty-tr">
              <td colspan="10" class="empty-box">没有找到您要查询的结果!</td>
            </tr>
          </tbody>
          <tbody>
            <tr ng-repeat="item in ctrl.list" ng-if="ctrl.list && ctrl.list.length > 0">
              <td class="text-overflow"><span title="{{item.name|| '暂无'}}">{{item.name || '暂无'}}</span></td>
              <td class="text-overflow"><span title="{{item.storeName|| '暂无'}}">{{item.storeName || '暂无'}}</span></td>
              <td class="text-overflow"><span >{{ctrl.sexLists[item.sex] || '暂无'}}</span></td>
              <td class="text-overflow"><span title="{{ctrl.ageLists[item.ageGroup]|| '暂无'}}">{{item.ageGroup  | storeScale:item.ageGroup || '暂无'}}</span></td>
              <td class="text-overflow"><span title="{{item.mobile|| '暂无'}}">{{item.mobile || '暂无'}}</span></td>
              <td class="text-overflow"><span title="{{item.position|| '暂无'}}">{{item.position || '暂无'}}</span></td>
              
              <td class="text-overflow"><span title="{{item.birthday|| '暂无'}}">{{(item.birthday |  date:'yyyy-MM-dd') || '暂无'}}</span></td>
              <td class="text-overflow">{{ctrl.kpLists[item.isKp] || '暂无'}}</td>
              <td class="text-overflow"><span title="{{item.wechat|| '暂无'}}">{{item.wechat || '暂无'}}</span></td>
              <td class="text-overflow"><span title="{{item.email|| '暂无'}}">{{item.email || '暂无'}}</span></td>
              
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btnMouleCharges">
        <button  type="button"  ng-if="btnlist.CRM_040801" class="btn btn-primary" ng-click="ctrl.exportLink()">导出</button>
        <ul uib-pagination total-items="ctrl.total" ng-if="ctrl.total>ctrl.getParame.pageSize" items-per-page="ctrl.getParame.pageSize"
            previous-text="<" next-text=">" ng-model="ctrl.getParame.pageNo" max-size="5" boundary-link-numbers="true"  ng-change="ctrl.pageChanged()" class="pull-right"></ul>
        <b class="pagination-text pull-right" ng-if="ctrl.total>ctrl.getParame.pageSize">共{{ctrl.total}}条</b>   
      </div>
    </div>
  </div>
</div>