<div class="page-monitor-voucher">
  <div class="clearfix">
    <ul class="breadcrumb">
      <li>会员监控</li>
      <li>发券记录</li>
    </ul>
  </div>
  <div class="mainContent">
    <div class="form-inline table-head">
      <form name="voucher">
        <div class="form-group">
          <input class="form-control" type="text" placeholder="优惠券名称" ng-model="ctrl.getParame.couponName" ng-keyup="ctrl.enterKeyup($event)">
        </div>
        <div class="form-group ui-select">
          <ui-select ng-model="ctrl.getParame.shopId" name="storeName" required theme="bootstrap" 
            reset-search-input="false" title="验券门店、所属品牌" item-width="180">
            <ui-select-match placeholder="请输入验券门店或品牌" ng-click="ctrl.store()">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="store.id as store in ctrl.storeList track by $index" refresh="ctrl.getStoreName($select.search)"
              refresh-delay="500">
              <div ng-bind-html="store.name | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group"> 
          <select class="form-control" ng-options="item.dataCode as item.dataName for item in ctrl.couponType" ng-model="ctrl.getParame.couponType">
            <option value="">优惠券类型</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" ng-options='item.dataCode as item.dataName for item in ctrl.status' ng-model="ctrl.getParame.status">
            <option value="">状态</option>
          </select>
        </div>
        <div class="form-group">
          <date-picker date="ctrl.getParame.startTime" holder="创建开始时间" max="ctrl.getParame.endTime"></date-picker>
        </div>
        <div class="form-group">
          <date-picker  date="ctrl.getParame.endTime" holder="创建结束时间"  min="ctrl.getParame.startTime"></date-picker>
        </div>
        <div class="form-group">
          <button type="button" name="btn" class="btn btn-white" ng-click="ctrl.searchBt()" ng-disabled="voucher.$invalid">搜索</button>          
        </div>
      </form>
    </div>
    <div class="content-box">
      <div class="table-overflow">
        <table class="table table-theadbg">
          <thead>
            <tr>
              <th><div>优惠券名称</div></th>
              <th><div>类型</div></th>
              <th><div>发券门店</div></th>
              <th><div>所属品牌</div></th>
              <th><div>城市</div></th>
              <th><div>有效期日期</div></th>
              <th><div>状态</div></th>
              <th><div>批次</div></th>
              <th><div>库存数量</div></th>
              <th><div>已领取数量</div></th>
              <th><div>已核销数量</div></th>
              <th><div>创建时间</div></th>
            </tr>
          </thead>
          <tbody ng-if="ctrl.voucherList.total === 0 || !ctrl.voucherList">
            <tr class="empty-tr">
              <td colspan="12" class="empty-box">请输入门店名称搜索!</td>
            </tr>
          </tbody>
          <tbody>
            <tr ng-repeat="item in ctrl.voucherList">
              <td class="text-overflow">{{item.couponName || '-'}}</td>
              <td class="text-overflow">{{(item.couponType | couponType) || '-'}}</td>
              <td class="text-overflow">{{item.shopName || '-'}}</td>
              <td class="text-overflow">{{item.brandName || '-'}}</td>
              <td class="text-overflow">{{item.city || '-'}}</td>
              <td class="text-overflow">{{(item.endTime | date:'yyyy-MM-dd') || '-'}}</td>
              <td class="text-overflow">{{(item.status | couponStatus) || '-'}}</td>
              <td class="text-overflow">{{item.batchNo || '-'}}</td>
              <td class="text-overflow">{{item.amount || '-'}}</td>
              <td class="text-overflow">{{item.sendAmount || '-'}}</td>
              <td class="text-overflow">{{item.useAmount || '-'}}</td>
              <td class="text-overflow">{{(item.createTime | date:'yyyy-MM-dd') || '-'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="clearfix">
        <div class="pull-right">
          <ul uib-pagination total-items="ctrl.total" ng-if="ctrl.total>ctrl.getParame.size" items-per-page="ctrl.getParame.size" previous-text="<" next-text=">" max-size="5" boundary-link-numbers="true" ng-model="ctrl.getParame.pageNum" ng-change="ctrl.pageChanged()"
          class="pull-right"></ul>
          <b class="pagination-text pull-right" ng-if="ctrl.total>ctrl.getParame.size">共{{ctrl.total}}条</b>
        </div>
      </div>
    </div>
  </div>
</div>