<!--释放私海弹窗-->
<div class="storeModal-modifyUser">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-title">确认删除考勤组</h4>
          <i class="iconfont icon-shanchu-copy" ng-click="ctrl.cancel()"></i>
        </div>
        <div class="modal-body" id="modal-body">
              <p>确认数据销售的考勤设置，删除后，改部门下的用户将不能考勤打卡！</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-gray" ng-click="ctrl.cancel()">取消</button>
          <button class="btn btn-primary" ng-click="ctrl.confirm()">确定</button>
        </div>
      </div>