/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
$defColor: #29A19C;
body {
  padding-top: 64px;
  font-family: "Hiragino Sans GB","华文细黑",STHeiti,"微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
  background: #f4f4f4;
  color: #666;
}
hr{ margin: 0}
.box-pd{
  padding: 10px 0;
}
.btn-primary{
  min-width: 102px;
  border-color: #3CB6B0;
  background-color: #3CB6B0;
  box-shadow: 0 4px 0 #2AA19A;
  outline: none;
  margin-top: -4px;
}
.btn-gray{
  min-width: 102px;
  border-color: #D8D8D8;
  background-color: #D8D8D8;
  box-shadow: 0 4px 0 #C0C0C0;
  color: #fff;
  outline: none;
  margin-top: -4px;
}
.btn-default{
  min-width: 92px;
  border-color:#fff;
  background-color: #fff;
  box-shadow: 0 4px 0 #D3DCE1;
  color: #778891;
  outline: none;
  margin-top: -4px;
  padding: 5px 12px;
}
.btn-primary:active,.btn-primary:active:focus,.btn-primary:hover,.btn-primary:active:hover{
    background-color: #59C5BE;
    border-color: #59C5BE;
    box-shadow: 0 4px 0 #30bdb4;
    outline: none;
}
.btn-primary:focus{
    border-color: #3CB6B0;
    background-color: #3CB6B0;
    box-shadow: 0 4px 0 #2AA19A;
    outline: none;
}
.btn-gray:active,.btn-gray:active:focus,.btn-gray:hover,.btn-gray:active:hover{
    border-color: #e0e0e0;
    background-color: #e0e0e0;
    box-shadow: 0 4px 0 #C0C0C0;
    color: #fff;
    outline: none;
}
.btn-gray:focus{
    color: #fff;
    outline: none;
}
.btn-default:hover,.btn-default:active,.btn-default:active:focus{
    background-color: #ededed;
    border-color: #ededed;
    color: #778891;
    box-shadow: 0 4px 0 #D3DCE1;
    outline: none;
}
.btn-default:focus{
    background-color: #fff;
    border-color: #fff;
    color: #778891;
    box-shadow: 0 4px 0 #D3DCE1;
    outline: none;
}
.btn-link:focus,.btn-link:active:focus{
  outline: none;
}
.btn-link-danger{
    color: #DF7878!important;
}
.btn-link-success{
    color: #3CB67D!important;
}
.btn-link{
    color: #429EF9;
    text-decoration: underline;
}
.table-text-center{
  text-align: center;
  thead>tr>th>div{
    text-align: center
  }
}
.pagination{ margin: 0}
.breadcrumb{ 
  padding: 0
}
.form-middle{ 
  width: 80%;
  margin: 0 auto
}
.formItem{
  border: 1px solid #ececec;
  border-radius: 8px;
  padding: 18px;
}
form label{
  font-weight: normal
}
input[type=radio]{
  margin: 2px 0 0 -25px;
}
input[type=checkbox]{
  margin:2px 0;
}
.checkbox-inline, .radio-inline{
  min-width: 20px;
  min-height: 20px;
}
.form-control-static,.form-horizontal .form-group{ text-align: left}
.radio-inline input[type=radio],.checkbox-inline input[type=checkbox]{
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  font-family: "iconfont" !important;
  font-size: 16px;
  color: #3CB6AF;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:before{
    content: "\e60e";
  }
  &:checked:before{
    content: "\e614";
  }
}
.modal-content{
  text-align: center;
  .modal-footer{
    text-align: center;
    border-top:none;
    .btn+.btn{
       margin-left: 40px;
    }
  }
  .modal-header{
    background: #3CB6AF;
    color: #fff;
    position: relative;
    .iconfont{ 
      position: absolute;
      right:15px;
      top: 2px;
      font-size: 36px;
      display: block;
      cursor: pointer;
    }
  }
}

/****pagination***/
.pagination>li>a,{
  background: #E4E7EA;
  border-radius: 4px;
  margin-right: 5px;
  color: #666;
}
.pagination>li>a:hover{
  color: #666;
}
.pagination>.active>a,.pagination>.active>a:hover{
  background-color: #3CB6AF;
  border-color: #3CB6AF;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus{
    border-color: #ddd;
    outline: none;
}
/*******switch style******/
.switch-btn {position: relative;display: inline-block; vertical-align: top; width: 80px; height: 30px; cursor: pointer; border-radius: 6px;}
.checked-switch {position: absolute; top: 0; left: 0; opacity: 0;}
.text-switch {background-color: #fff; border: 1px solid #C0C0C0; border-radius: inherit; color: #999; display: block; font-size: 12px; height: inherit; position: relative; text-transform: uppercase;}
.text-switch:before, .text-switch:after {position: absolute; top: 50%; margin-top: -.5em; line-height: 1; -webkit-transition: inherit; -moz-transition: inherit; -o-transition: inherit; transition: inherit;}
.text-switch:before {content: attr(data-no); right:8px; font-weight: normal}
.text-switch:after {content: attr(data-yes); left: 8px; color: #3CB6AF; opacity: 0; font-weight: normal}
.checked-switch:checked ~ .text-switch {background-color: #fff; border: 1px solid #3CB6AF;}
.checked-switch:checked ~ .text-switch:before {opacity: 0;}
.checked-switch:checked ~ .text-switch:after {opacity: 1;}
.toggle-btn {background: #D8D8D8; height: 30px; left:0; position: absolute; top: -3px; width: 42px; border-radius: 6px; box-shadow: 0 4px 0 #C0C0C0}
.toggle-btn::before {color: #aaaaaa; display: inline-block; font-size: 12px; letter-spacing: -2px; padding: 4px 0; vertical-align: middle;}
.checked-switch:checked ~ .toggle-btn {left: 38px; background: #3CB6AF;box-shadow: 0 4px 0 #2A9D98 }
 .text-switch, .toggle-btn {transition: All 0.3s ease; -webkit-transition: All 0.3s ease; -moz-transition: All 0.3s ease; -o-transition: All 0.3s ease;}
/*navbar*/
.navbar-inverse .navbar-collapse,.navbar-inverse{
  background: #fff;
}
.navbar{
  height: 65px;
  margin: 0;
  border-bottom: 1px solid #D2D2D2;
  .container-fluid{
    position: relative;
  }
  .navbar-form{
    position: absolute;
    right: 280px;
    left: 321px;
    margin:13px 15px;
    padding: 0;
    .form-group{
      width: 100%;
      padding-right: 125px;
      .form-control{ 
        width: 100%;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 38px;
      }
      height: 38px;
    }
    .btn{
      position: absolute;
      right: 5px;
      top: 4px;
      width: 100px;
    }
  }
}
.navbar-brand{
  width: 200px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  padding: 0;
  background: $defColor
}
.navbar-inverse .navbar-brand{
  color:#fff;
}
.formSel{
  position: relative;
  border-right: 1px solid #d2d2d2;
  select.form-control{
    width: 120px;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    height: 64px;
    &:focus{
      border-color:transparent;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  .selIcon{
    padding-right:15px; 
    background: #fff;
    position: absolute;
    right:1px;
    top: 20px;
    bottom: 20px;
    i.iconfont{
      color: #9f9f9f;
      font-size: 18px;
    }
  }
}

.userInfo {
  .navbar-user{
    .btn-default{
        background:none;
        border:none;
        color: #666;
        margin-top:0;
        box-shadow: none;
        border-radius:0; 
    }
    .btn{
      padding:12px 0 12px 25px;
      span{ 
        vertical-align: middle;
        display: inline-block;
        &:first-child{
          margin-right: 15px;
        }
      }
    }
  }
  .userHead{
    margin: 10px 25px 10px 20px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
    img{
      max-width: 100%;
    }
  }
}
.noticeBt{
  padding: 12px 25px;
  border-radius: 0;
  border-right: 1px solid #D2D2D2;
  border-left: 1px solid #D2D2D2;
  background: none;
  position:relative;
  .iconfont{
    font-size: 27px;
  }
  .badge{
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 2;
    background: #FF8B51;
    font-weight: normal
  }
}
#navbar .open>.dropdown-toggle.btn-default:active,#navbar .open>.dropdown-toggle.btn-default:focus,#navbar .open>.dropdown-toggle.btn-default:hover,#navbar .btn-default:active:focus,#navbar .btn-default:active:hover,#navbar .open>.dropdown-toggle.btn-default{
    background: none;
    border: none;
    color: #666;
    box-shadow:none;
}
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  width: 200px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 40px 0 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #333;
    color: #f0f0f0
  }
}
/* Sidebar navigation */
.nav-sidebar {
  border-bottom:1px solid #000;
  text-align: right;
  color: #888;
  h4{ 
    margin: 0;
    padding: 10px 60px 10px 15px;
    font-size: 14px;
    i.iconfont{
      font-size: 24px;
      vertical-align: middle;
      margin-right: 20px;
    }
    span{
      vertical-align: middle
    }
    &.active{
      color: #fff;
    }
  }
  a.list-group-item{
    background: none;
    border: none;
    color: #888;
    font-size: 14px;
    padding-right: 60px;
    &:last-child{
      border-bottom-right-radius: 0;
      border-bottom-left-radius:0;
    }
    &:first-child{
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    &:hover,&.active,&.active:focus,&.active:hover{
      background: #222;
      border-left: 6px solid $defColor;
      color: #fff;
    }
  }
}



/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 20px;
    padding-left: 220px;
  }
}
.mainContent{
  background: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 4px 0 #eaeaea;
  -webkit-box-shadow: 0 4px 0 #eaeaea;
  border-radius: 6px;
  overflow: hidden;
  .content-box{
    padding: 20px 20px 60px;
    .table-theadbg{
      thead>tr>th{
        padding: 0;
        border: none;
        &:first-child div{
          border-radius: 25px 0 0 25px;
        }
        &:last-child div{
          border-radius:0 25px 25px 0;
        }
        div{
          padding: 8px;
          height: 100%;
          width: 100%;
          background: #E3E7E9;
        }
      }
      .userImg{
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
      &>tbody>tr>td{
        vertical-align: middle;
        border-top: none ;
        border-bottom: 1px solid #ddd;
      }
    }
    .table-theadbg-noRadius{
      thead>tr>th{
        &:first-child div{
          border-radius: 0;
        }
        &:last-child div{
          border-radius:0;
        }
      }
    }
  }
  .table-head{
    padding:15px 20px;
    background: #8898A1;
    .form-control{
      height: 36px;
      background:#9CABB4;
      border: none;
      outline: none;
      color: #C6D1D7;
      &::-moz-placeholder {
        color: #C6D1D7;
      }
      &:-ms-input-placeholder {
        color: #C6D1D7;
      }
      &::-webkit-input-placeholder {
        color: #C6D1D7;
      }
    }
    select.form-control{
      position: relative;
      appearance:none;
      -moz-appearance:none;
      color: #fff;
      -webkit-appearance:none;
      background:#9CABB4 url('../images/arrow.png') no-repeat right 10px center;
      background-size:16px 15px;
      padding-right: 40px;
    }
    form{display: inline-block}
  }
}
.tabs-default{
  .tab-content{
    padding: 20px 0;
  }
  .nav-tabs{
    border-bottom: 2px solid #ECEFF0;
    &>li{
      margin:0 45px 0 0;
      position: relative;
      &.active:after{
        content: '';
        position: absolute;
        bottom:-2px;
        width: 40px;
        height: 2px;
        background: #3CB6AF;
        left: 50%;
        margin-left: -20px;
        z-index: 2;
      }
      a{
        border:none;
        color: #999;
        padding: 10px 0;
        &:hover{
           background: none;
        }
      }
      &.active>a{
        border:none;
        color: #666;
        font-size: 16px;
      }
    }
  }
}
/*******networkManager*******/
.panel-network{
  .panel-heading{
    background-color: #E3E7E9;
    font-weight: bold;
    color: #666;
    overflow: hidden;
     .badge{
       background-color: #fff;
       color: #666;
       float: right;
       font-weight: normal;
       padding: 5px 8px;
     }
  }
}
.panel-portal{
  width: 250px;
  margin: 0 auto;
  .panel-body{ padding: 2px;}
  img{ max-width: 100%}
}
/******messageList*******/
.messageList{
  list-style-type: none;
  padding: 0;
  margin-bottom:30px;
  li{
    position: relative;
    padding: 10px 15px;
    border-bottom: 1px solid #EDEDED;
    color: #2a2a2a;
    a{ color: #3CB6AF}
    .mark{
      position: absolute;
      left: 5px;
      top: 50%;
      margin-top: -4px;
      width: 8px;
      height: 8px;
      background: #FF8888;
      border-radius: 50%;
    }
  }
}
/******addRole******/
.rolebox{
  width: 500px;
  margin: 60px auto;
}
.rightsbox{
  background: #EFF3F4;
  padding: 15px;
  border-radius: 4px;
  ul{
    border-right: 1px dashed #fff;
    padding:0 15px;
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      border: none;
    }
  }
  ul ul{
    margin-left: 15px;
    border: none;
    padding-right: 0;
  }
}
/***addUser***/
.userDetail-left{
  width: 40%;
  padding-right: 30px;
}
.userDetail-right{
  width: 60%;
  padding-left: 30px;
  border-left: 1px solid #ECECEC;
}
/******userdetail*******/
.userdetail-box{
  h4{
    margin-top:25px;
  }
}
.list-userdetail{
  li{
    width: 20%;
    float: left;
    padding: 10px 0;
  }
}
.table-userdetail{
  margin-top: 10px;
  thead>tr>th{
    background: #EFF3F4;
    border-bottom: 1px dashed #fff;
    padding: 10px;
    color: #99A4AA;
  }
  tbody>tr>td{
    background: #EFF3F4;
    border: none;
    color: #98A4AA;
    padding: 10px;
  }
}