<div class="forgetPass-box resetPassword-box">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ng-click="ctrl.goHome()">
            <i class="iconfont icon-icon-test10"></i>
          </a>
        </div>
        <h3 class="page-title">找回密码</h3>
      </div>
    </nav>
    <div class="container-login">
      <div class="mainContent">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="login-steps clearfix">
              <div class="login-step login-step-active">
                <div class="step-item">
                  <div class="step-head-num">1</div>
                  <div class="step-text">填写验证码</div>
                </div>
                <div class="stet-line"></div>
              </div>
              <div class="login-step">
                <div class="step-item clearfix">
                  <div class="step-head-num">2</div>
                  <div class="step-text">设置新密码</div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <form name="sendCode" class="form-horizontal pass-from"  ng-submit="ctrl.goStep2()" >
              <div class="form-group wordTip">
                <div class="col-sm-offser-1 col-sm-11">
                    <p>系统检测到您首次登录，需修改默认密码！</p>
                    <p>我们已经将验证码发送到号码+86{{ctrl.mobilePhone}}</p>
                </div>                
              </div>
              <div class="form-group">
                  <label for="code" class="col-sm-3 control-label">验证码：</label>
                  <div class="col-sm-9" ng-class="{'has-success':sendCode.code.$valid,'has-error':(sendCode.code.$invalid && sendCode.code.$dirty) || ctrl.warnWord}">
                    <input type="text" name="code" maxlength="6" minlength="6" class="form-control" id="code"  ng-model="ctrl.code" ng-change="ctrl.changeCode()" placeholder="请输入验证码" required>
                    <!-- <input type="text" name="code" maxlength="6" minlength="6" class="form-control" id="code"  ng-model="ctrl.code" ng-keyup="ctrl.checkKey($event)" placeholder="请输入验证码" required> -->
                    <span ng-if="ctrl.warnWord" class="text-error">验证码输入错误,请重新输入</span>
                  </div>
                </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-primary btn-block" ng-disabled="(sendCode.code.$invalid && sendCode.code.$dirty) || ctrl.warnWord || !ctrl.code" >下一步</button>
                </div>
              </div>
              <div class="form-group">
                <p class="text-center col-sm-offset-3 col-sm-9">
                  <a ng-if="!ctrl.showTimeoutNum" class="btn btn-link" ng-click="ctrl.sendCode()">点击重新获取</a>
                  <span ng-if="ctrl.showTimeoutNum">没有收到？{{ctrl.timeoutNum}}s 后点击重新获取</span>
                </p>
              </div>
            </form>
          </div>
        </div>
        <div class="copyright-footer">版权所有©百味云科技股份有限公司</div>
      </div>
    </div>
  </div>