<div class="mainContent">
    <ul class="ctmgInfo">
        <li><h3>12345</h3><p>已签约客户</p></li>
        <li><h3>245</h3><p>本月新增</p></li>
        <li><h3>75</h3><p>本周新增</p></li>
        <li><h3>6</h3><p>昨日新增</p></li>
    </ul>
</div>
<div class="clearfix chartInfo">
    <div class="pull-left">
        <div class="mainContent">
            <echart-pie></echart-pie>
        </div>
        <div class="mainContent">
            <echart-pie></echart-pie>
        </div>
    </div>
    <div class="pull-right">
        <div class="mainContent">
            <echart-map></echart-map>
        </div>
    </div>
</div>


