<div class="mainContent">
    <div class="content-box">
        <ul class="messageList">
            <li>
                <div class="mark"></div><i class="iconfont icon-nb-w8"></i><a href="">范冰冰</a>于 2016.12.3.13:09:40申请了<a href="">网络设备-AP   MAC:56：89：OI：U9：09 </a> 需要您审批
            </li>
            <li>
                <i class="iconfont icon-nb-w13"></i><a href="">绿茶（徐家汇店）</a>的 <a href="">网络设备-AP   MAC:56：89：OI：U9：09</a>   于 2016.12.3.13:09:40 离线
            </li>
            <li>
                <i class="iconfont icon-nb-w8"></i><a href="">范冰冰</a>于 2016.12.3.13:09:40申请了<a href="">网络设备-AP   MAC:56：89：OI：U9：09 </a> 需要您审批
            </li>
            <li>
                <i class="iconfont icon-nb-w13"></i><a href="">绿茶（徐家汇店）</a>的 <a href="">网络设备-AP   MAC:56：89：OI：U9：09</a>   于 2016.12.3.13:09:40 离线
            </li>
            <li>
                <i class="iconfont icon-nb-w8"></i><a href="">范冰冰</a>于 2016.12.3.13:09:40申请了<a href="">网络设备-AP   MAC:56：89：OI：U9：09 </a> 需要您审批
            </li>
            <li>
                <i class="iconfont icon-nb-w13"></i><a href="">绿茶（徐家汇店）</a>的 <a href="">网络设备-AP   MAC:56：89：OI：U9：09</a>   于 2016.12.3.13:09:40 离线
            </li>
            <li>
                <i class="iconfont icon-nb-w8"></i><a href="">范冰冰</a>于 2016.12.3.13:09:40申请了<a href="">网络设备-AP   MAC:56：89：OI：U9：09 </a> 需要您审批
            </li>
            <li>
                <i class="iconfont icon-nb-w13"></i><a href="">绿茶（徐家汇店）</a>的 <a href="">网络设备-AP   MAC:56：89：OI：U9：09</a>   于 2016.12.3.13:09:40 离线
            </li>
        </ul>
        <div ng-controller="userListsCtrl as pages">
            <button type="button" class="btn btn-primary" ng-click=''>全部标示为已读</button>
            <ul uib-pagination total-items="pages.totalItems" items-per-page="20" previous-text="<" next-text=">" ng-model="pages.currentPage" ng-change="pages.pageChanged()" class="pull-right"></ul>
        </div>
    </div>
</div>