<ul class="breadcrumb">
    <li><a href="#">WIFI管理</a></li>
    <li class="active">网络管理</li>
</ul>
<div class="mainContent">
    <div class="content-box">
        <h5>设置对象：</h5>
        <div class="row">
            <div class="col-sm-3">
                门店：所有门店 
            </div>
            <div class="col-sm-3">
                品牌：绿茶
            </div>
            <div class="col-sm-6">
                企业：上海绿茶餐饮服务有限公司
            </div>
        </div>
        <hr>
        <h5>WiFi配置：</h5>
        <uib-tabset class="tabs-default">
            <uib-tab index="0" heading="网络控制">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="panel panel-default panel-network">
                            <div class="panel-heading">SSID：GreenTea Pravite wifi<span class="badge">私有</span></div>
                            <div class="panel-body">
                                <ul>
                                    <li>上传限速：100kb/S</li>
                                    <li>下载限速：120kb/S</li>
                                    <li>上网时长：180分钟</li>
                                    <li>免认证时长：60分钟</li>
                                    <li>主动漫游：开</li>
                                    <li>2G信号：开</li>
                                    <li>5G信号：开</li>
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <label class="switch-btn no-radius">
                                    <input class="checked-switch" type="checkbox">
                                    <span class="text-switch" data-yes="开启" data-no="关闭"></span> 
                                    <span class="toggle-btn"></span> 
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Panel heading without title</div>
                            <div class="panel-body">
                                Panel content
                            </div>
                            <div class="panel-footer">Panel footer</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Panel heading without title</div>
                            <div class="panel-body">
                                Panel content
                            </div>
                            <div class="panel-footer">Panel footer</div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab index="1" heading="Portal设置">Portal设置</uib-tab>
            <uib-tab index="2" heading="黑白名单">黑白名单</uib-tab>
        </uib-tabset>
    </div>
</div>