<ul class="breadcrumb">
    <li><a href="#">账户管理</a></li>
    <li><a href="#">账户列表</a></li>
    <li class="active">账号详情</li>
</ul>
<div class="mainContent">
    <div class="content-box userdetail-box">
        <h4>基本信息</h4>
        <hr>
        <ul class="list-unstyled clearfix list-userdetail">
            <li>姓名：李雷雷</li>
            <li>工号：042230</li>
            <li>部门：易趴产品部</li>
            <li>状态：正常</li>
            <li>账号：lileilei@eparty</li>
            <li>邮箱：lileilei@eparty.com</li>
            <li>手机：13833333300</li>
            <li>初始密码：yipa12345</li>
            <li>创建时间：2016.03.20.21:22</li>
        </ul>
        <h4>权限信息</h4>
        <hr>
        <p>设备管理：【添加设备】、【删除设备】、【修改设备】</p>
        <p>活动管理：【添加活动】、【修改活动】、【关闭活动】</p>
        <h4>业务范围</h4>
        <hr>
        <p>浙江省：【杭州市】、【金华市】、【嘉兴市】</p>
        <p>上海市：【徐汇区】、【普陀区】、【松江区】、【宝山区】</p>
        <h4>操作记录</h4>
        <hr>
        <table class="table table-userdetail">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>业务板块</th>
                    <th>操作记录</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2016.11.21 31:20:10</td>
                    <td>设备管理</td>
                    <td>修改设备、删除设备</td>
                </tr>
                <tr>
                    <td>2016.11.21 31:20:10</td>
                    <td>设备管理</td>
                    <td>修改设备、删除设备</td>
                </tr>
            </tbody>
        </table>
        <div class="box-pd">
            <button type="button" class="btn btn-primary">修改</button>
        </div>
    </div>
</div>