<ul class="breadcrumb">
    <li><a href="#">账户管理</a></li>
    <li class="active">账户列表</li>
</ul>
<div class="mainContent" ng-controller="userListsCtrl as userli">
    <div class="table-head form-inline">
        <select class="form-control">
            <option>按角色</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <select class="form-control">
            <option>按部门</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <select class="form-control">
            <option>按状态</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        <form>
            <div class="form-group">
                <input type="text" name="" value="" class="form-control" placeholder="按姓名／账号／工号搜索...">
            </div>
            <button type="button" class="btn btn-default">搜索</button>
        </form>
    </div>
    <div class="content-box">
        <table class="table table-theadbg">
            <thead>
                <tr>
                    <th><div>&nbsp;</div></th>
                    <th><div>姓名</div></th>
                    <th><div>工号</div></th>
                    <th><div>角色</div></th>
                    <th><div>部门</div></th>
                    <th><div>账户</div></th>
                    <th><div>状态</div></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in userli.userLists">
                    <td>
                        <img src="./app/images/userdef.jpg" alt="陈良" class="userImg">
                    </td>
                    <td>
                        {{user.name}}
                    </td>
                    <td>
                        {{user.jnumber}}
                    </td>
                    <td>
                        {{user.role}}
                    </td>
                    <td>
                        {{user.department}}
                    </td>
                    <td>
                        {{user.account}}
                    </td>
                    <td>
                        {{user.state}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            <button type="button" class="btn btn-primary" ui-sref="addUser">添加账号</button>
            <ul uib-pagination total-items="userli.totalItems" items-per-page="20" previous-text="<" next-text=">" ng-model="userli.currentPage" ng-change="userli.pageChanged()" class="pull-right"></ul>
        </div>
    </div>
</div>