<div class="">
  <form class="form-horizontal">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">高级搜索</h4>
      <i class="iconfont icon-shanchu-copy" ng-click="ctrl.cancel()"></i>
    </div>
    <div class="modal-body" id="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group">
              <label class="col-md-4 col-sm-4 col-xs-4 control-label">门店名称：</label>
              <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="row">
                  <input class="form-control" name="name" placeholder="请输入门店名称" ng-model="ctrl.params.name" type="text" maxlength="200" ng-maxlength='200' ng-trim="true" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group">
              <label class="col-md-4 col-sm-4 col-xs-4 control-label">城市：</label>
              <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="row">
                  <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="row">
                      <prov-select province="ctrl.province"></prov-select>
                    </div>
                  </div>   
                  <div class="col-md-6 col-sm-6 col-xs-6 pull-right">
                    <div class="row">
                      <city-select province="ctrl.province" city="ctrl.params.cityCode"></city-select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group">
              <label for="" class="col-md-4 col-sm-4 col-xs-4 control-label">申请人：</label>
              <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="row">
                  <ui-select ng-model="ctrl.params.applicat" name="applicat" required theme="bootstrap" reset-search-input="false" title="请输入姓名">
                    <ui-select-match placeholder="请输入姓名" ng-click="ctrl.focus()">{{$select.selected.name || ctrl.params.applicat}}</ui-select-match>
                    <ui-select-choices repeat="user.id as user in ctrl.userList track by $index" refresh="ctrl.getApplyName($select.search)"
                      refresh-delay="500">
                      <div ng-bind-html="user.name | highlight: $select.search"></div>
                      <small>
                          工号：<span ng-bind-html="user.userNo | highlight: $select.search"></span>
                          部门：<span ng-bind-html="user.deptName | highlight: $select.search"></span>
                      </small>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group" >
              <label for="" class="col-md-4 col-sm-4 col-xs-4 control-label">审核人：</label>
              <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="row">
                  <ui-select ng-model="ctrl.params.auditUserId" name="auditUserId" required theme="bootstrap" reset-search-input="false" title="请输入姓名">
                    <ui-select-match placeholder="请输入姓名" ng-click="ctrl.focus()">{{$select.selected.name || ctrl.params.auditUserId}}</ui-select-match>
                    <ui-select-choices repeat="user.id as user in ctrl.userList track by $index" refresh="ctrl.getApplyName($select.search)"
                      refresh-delay="500">
                      <div ng-bind-html="user.name | highlight: $select.search"></div>
                      <small>
                          工号：<span ng-bind-html="user.userNo | highlight: $select.search"></span>
                          部门：<span ng-bind-html="user.deptName | highlight: $select.search"></span>
                      </small>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="" class="col-md-2 col-sm-2 col-xs-2 control-label">申请日期：</label>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="row">
                  <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="row">
                      <date-picker date="ctrl.applyStartTime" holder="申请开始日期" max="ctrl.applyEndTime"></date-picker>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1">
                    <div class="form-control-static">-</div>
                  </div>
                  <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="row">
                      <date-picker date="ctrl.applyEndTime" holder="申请结束日期" min="ctrl.applyStartTime"></date-picker>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <label for="" class="col-md-2 col-sm-2 col-xs-2 control-label">最后审核日期：</label>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="row">
                  <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="row">
                      <date-picker date="ctrl.verifyStartTime" holder="审核开始日期" max="ctrl.verifyEndTime"></date-picker>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-1">
                    <div class="form-control-static">-</div>
                  </div>
                  <div class="col-md-5 col-sm-5 col-xs-5">
                    <div class="row">
                      <date-picker date="ctrl.verifyEndTime" holder="审核结束日期" min="ctrl.verifyStartTime"></date-picker>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group">
              <label for="" class="col-md-4 col-sm-4 col-xs-4 control-label">状态：</label>
              <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="row">
                  <select class="form-control" ng-model="ctrl.params.status" ng-disabled="ctrl.selDisabled">
                    <option value="">请选择状态</option>
                    <option value="SUBMIT">待审核</option>
                    <option value="REJECT">已退回</option>
                    <option value="ONLINE">审核通过</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-gray" ng-click="ctrl.cancel()">取消</button>
      <button class="btn btn-primary" ng-click="ctrl.confirm()">确定</button>
    </div>
  </form>
</div>