<div class="page-TrialOrderDetail">
  <ul class="breadcrumb">
    <li>订单管理</li>
    <li class="active"><a href=""  ui-sref="manageOrder.trialOrders()">试用费订单</a></li>
    <li>试用费订单详情</li>
  </ul>
  <div class="mainContent">
    <div class="content-box">
        <div class="container">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-sm-5 control-label">试用费订单号：</label>
              <div class="col-sm-7 row">
                <div class="col-xs-5 row">
                  <p class="form-control-static">{{ctrl.details.no}}</p>
                </div>
              </div>
            </div>
            <div class="form-group" ng-if="ctrl.details.status === 'PAYED'">
              <label class="col-sm-5 control-label">富友订单号：</label>
              <div class="col-sm-7 row">
                <div class="col-xs-5 row">
                  <p class="form-control-static">{{ctrl.details.payOrder2}}</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">门店名称：</label>
              <div class="col-sm-7 row">
                <div class="col-xs-5 row">
                  <p class="form-control-static">{{ctrl.details.storeName}}</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">所属品牌：</label>
              <div class="col-sm-7 row">
                <div class="col-xs-5 row">
                  <p class="form-control-static">{{ctrl.details.brandName}}</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">试用天数：</label>
              <div class="col-sm-7 row">
                <div class="col-xs-5 row">
                  <p class="form-control-static">{{ctrl.details.trialDays}}</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">应付金额：</label>
              <div class="col-sm-7 row">
                <div class="col-xs-5 row">
                  <p class="form-control-static">{{ctrl.details.payedAmount}}</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">订单创建时间：</label>
              <div class="col-sm-7 row">
                <div class="col-xs-5 row">
                  <p class="form-control-static">{{ctrl.details.createTime| date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">实付金额：</label>
              <div class="col-sm-7 row">
                <div class="col-xs-5 row">
                  <p class="form-control-static">{{ctrl.details.payedAmount}}</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">支付成功时间：</label>
              <div class="col-sm-7 row">
                <div class="col-xs-5 row">
                  <p class="form-control-static">{{ctrl.details.payedTime | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">支付方式：</label>
              <div class="col-sm-7 row">
                <div class="col-xs-5 row">
                  <p class="form-control-static">{{ctrl.payType[ctrl.details.payType]}}</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-5 control-label">订单状态：</label>
              <div class="col-sm-7 row">
                <div class="col-xs-5 row">
                  <p class="form-control-static">{{ctrl.status[ctrl.details.status]}}</p>
                </div>
              </div>
            </div>
            <div class="form-group" ng-if="ctrl.details.status === 'USED'">
              <label class="col-sm-5 control-label">抵扣服务费订单号：</label>
              <div class="col-sm-7 row">
                <div class="col-xs-5 row">
                  <p class="form-control-static">{{ctrl.details.orderNo}}</p>
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>